---
layout: base.njk
---

<header class="maybenot">
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>
</header>


<main>

  {# <div class="maybenot-video-contain">
    <div class="maybenot-video">
    </div>
  </div> #}

  {{ content | safe }}
</main>


