---
layout: base.njk
---

<header class="maybenot">
  <h1><script>
document.currentScript.replaceWith(
  document.createTextNode(
    new Intl.DateTimeFormat('default', {
      month: 'long',
      day: 'numeric',
      hour: 'numeric',
      hour12: true,
      timeZoneName: 'short'
    })
    .format(new Date("{{ datetime }}"))
  )
)
</script></h1>
  <h2>{{ description }}</h2>
</header>


<main>

  {# <div class="maybenot-video-contain">
    <div class="maybenot-video">
    </div>
  </div> #}

  {{ content | safe }}
</main>


