@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fira-sans-v10-latin-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/fira-sans-v10-latin-italic.woff2") format("woff2");
  font-display: swap;
}

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
