---
permalink: ./social/template.html
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <style>{% raw %}{{ style }}{% endraw %} </style>
  </head>
  <body>
    <div class="text">
      <div id="line1">Not</div>
      <div id="line2">JSOxford</div>
      <h1 id="line3">{{ title }}</h1>
    </div> 
  </body>
</html>
