<footer class="maybenot-foot">
    <h1><strong>Not</strong>JSOxford</h1>
    <div>
    <p>
        Not just JS, and not really in Oxford either.
        A chat on the second Wednesday of the month.
    </p>
    <p>
        Join us: <a href="https://www.youtube.com/channel/UCjXR8G5M-iwkHVF26AFFsCQ">YouTube</a> | <a href="https://slack.digitaloxford.com/">Slack</a> (we're in <a href="https://digitaloxford.slack.com/archives/C0UURPG9H">#jsoxford</a>)<br>
        <a href="/coc">Code of Conduct</a>
        </p>
    </div>
</footer>